{% extends 'base.html.twig' %}

{% block body %}
    <h1>EXAMENES DEL ALUMNO</h1>
    <table>
        <thead>
        <td>Alumno: 
            <tr>
                <td>{{alumno.nombre}}</td>
                <td>{{alumno.dni}}</td>
            </tr>
            <tr>
                <th>Nota</th>
                <th>Fecha</th>
                <th>Turno</th>
                <th>Fechainicio</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for examenrealizado in examenrealizados %}
            <tr>                
                <td>{{ examenrealizado.nota }}</td>
                <td>{% if examenrealizado.fecha %}{{ examenrealizado.fecha|date('Y-m-d') }}{% endif %}</td>
                <td>{{ examenrealizado.turno }}</td>            
                <td>{% if examenrealizado.fechainicio %}{{ examenrealizado.fechainicio|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ examenrealizado.idexamenrealizado }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('examenrealizado_edit', {'idexamenrealizado':examenrealizado.idexamenrealizado,'alumno':alumno.idalumno}) }}">Realizar Examen</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
