{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <h1 align="center">Sedes list</h1>
    <br>
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Idsede</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sede in sedes %}
            <tr>
                <td  scope="row"><a href="{{ path('sede_show', { 'idsede': sede.idsede }) }}">{{ sede.nombre }}</a></td>
                <td>{{ sede.idsede }}</td>
                <td>
                    <ul>
                        <li>
                            <a class="btn btn-dark btn-sm btn-block" href="{{ path('sede_show', { 'idsede': sede.idsede }) }}">show</a>
                        </li>
                        <li>
                            <a class="btn btn-dark btn-sm btn-block" href="{{ path('sede_edit', { 'idsede': sede.idsede }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <ul align="center">
        <li>
            <a class="btn btn-dark btn-lg" href="{{ path('sede_new') }}">Create a new sede</a>
        </li>
    </ul>
{% endblock %}
