{% extends 'base.html.twig' %}

{% block body %}
        <br>
        <h1 align="center">Sede</h1>
        <br>
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Idsede</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">{{ sede.nombre }}</td>
                    <td>{{ sede.idsede }}</td>
                </tr>
            </tbody>
        </table>
        <br>
        <div align="center">
            <ul class="btn-group" role="group">
                <li>
                    <a class="btn btn-dark" href="{{ path('sede_index') }}">Back to the list</a>
                </li>
                <li>
                    <a class="btn btn-dark" href="{{ path('sede_edit', { 'idsede': sede.idsede }) }}">Edit</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                        <input class="btn btn-dark" type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
{% endblock %}
