{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sede</h1>

    <table>
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ sede.nombre }}</td>
            </tr>
            <tr>
                <th>Idsede</th>
                <td>{{ sede.idsede }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sede_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('sede_edit', { 'idsede': sede.idsede }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
