{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/flip-card.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/layout.css') }}" />
{% endblock %}

{% block body %}

    <div class="container">
        <div class="grid-1">
            <div class="column">
                <div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
                    <div class="flip-card-inner">
                        <div class="flip-card-inner-front" style="background:url('{{asset('images/LogoBuenosAires.jpg')}}') no-repeat center center">
                            <span>Buenos Aires</span>
                        </div>
                        <div class="flip-card-inner-back">
                            <h3 class="flip-card-inner-back-title">Sede Buenos Aires:</h3>
                            <p class="flip-card-inner-back-text">Estudie en la sede central de Royal Academy y aproveche la oportunidad para mezclarse con las multiples facetas de esta gran ciudad.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid-2">
            <div class="column">
                <div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
                    <div class="flip-card-inner">
                        <div class="flip-card-inner-front two" style="background:url('{{asset('images/LogoMexico.jpg')}}') no-repeat center center">
                            <span>Mexico DF</span>
                        </div>
                        <div class="flip-card-inner-back">
                            <h3 class="flip-card-inner-back-title">Sede Mexico DF:</h3>
                            <p class="flip-card-inner-back-text">Disfrute de la capital mexicana mientras descubre su lado cultural y gastronomico.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid-3">
            <div class="column">
                <div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
                    <div class="flip-card-inner">
                        <div class="flip-card-inner-front three" style="background:url('{{asset('images/LogoToronto.jpg')}}') no-repeat center center">
                        <span>Toronto</span>
                    </div>
                    <div class="flip-card-inner-back">
                        <h3 class="flip-card-inner-back-title">Sede Toronto: </h3>
                        <p class="flip-card-inner-back-text">Estudie mientras descubre esta hermosa ciudad ubicada en la costa de las Cataratas del Niagara.</p>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid-4">
            <div class="column">
                <div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
                    <div class="flip-card-inner">
                        <div class="flip-card-inner-front four" style="background:url('{{asset('images/LogoRoma.jpg')}}') no-repeat center center">
                        <span>Roma</span>
                        </div>
                        <div class="flip-card-inner-back">
                        <h3 class="flip-card-inner-back-title">Sede Roma:</h3>
                        <p class="flip-card-inner-back-text">Recorra la capital del Imperio Romano mientras estudia, y explore como era la vida durante el Imperio.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#
    <div class="row small-up-1 medium-up-2 align-center">

        <div class="row small-up-1 medium-up-2 align-center">

  <div class="column">
    <div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
      <div class="flip-card-inner">
        <div class="flip-card-inner-front">
          <span>Book Your Next Adventure</span>
        </div>
        <div class="flip-card-inner-back">
          <h3 class="flip-card-inner-back-title">Visit Yetiland</h3>
          <p class="flip-card-inner-back-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo doloremque accusantium, repellendus ex debitis molestias, recusandae dignissimos delectus.</p>
          <a href="#" class="button success">Book now</a>
        </div>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
      <div class="flip-card-inner">
        <div class="flip-card-inner-front two">
          <span>Roll To A Hot Spot</span>
        </div>
        <div class="flip-card-inner-back">
          <img src="https://www.virginamerica.com/cms/dam/promos/homepage/HPM-Icon-ogg.png" class="" height="75" width="75" alt="">
          <h3 class="flip-card-inner-back-title">Visit Yetiland</h3>
          <p class="flip-card-inner-back-text">Plan a getaway with sweet low fares from $49 one way.</p>
          <a href="#" class="button success">Grab A Seat</a>
        </div>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
      <div class="flip-card-inner">
        <div class="flip-card-inner-front three">
          <span>Oodles and Oodles Of Flights</span>
        </div>
        <div class="flip-card-inner-back">
          <h3 class="flip-card-inner-back-title">Visit Yetiland</h3>
          <p class="flip-card-inner-back-text">Together, with Alaska Airlines, we are launching more new routes from the west coast.</p>
          <a href="#" class="button success">Learn More</a>
        </div>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
      <div class="flip-card-inner">
        <div class="flip-card-inner-front four">
          <span>Make Business A Pleasure</span>
        </div>
        <div class="flip-card-inner-back">
          <img src="https://www.virginamerica.com/cms/dam/promos/homepage/HPM-Icon-new-routes.png" class="" height="75" width="75" alt="">
          <h3 class="flip-card-inner-back-title">Score More Points</h3>
          <p class="flip-card-inner-back-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <a href="#" class="button success">Book Now</a>
        </div>
      </div>
    </div>
  </div>
</div>#}

{% endblock %}

