{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/flip-card.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/layout.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
{% endblock %}
{% block header %}
  <header>
            <div class="top-bar-titulo">
               <img id="logo" src="{{ asset('images/logo.png') }}" alt="Symfony!" />
                <h2 id="capacitar">Capacit<span id="ar">AR</span></h2>
            </div>
  </header>
{% endblock %}
{% block body %}
      <br>
      <br>
      <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="width: 67%; float:left;">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="/images/LicInfor.jpg" alt="First slide">
              <div class="carousel-caption">
                <h3 style="background:rgba(255,255,255,0.5); color:rgb(0, 0, 0, 1);">Licenciatura en Informatica</h3>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/images/LicAdmin.jpg" alt="Second slide">
              <div class="carousel-caption">
                <h3 style="background:rgba(255,255,255,0.5); color:rgb(0, 0, 0, 1);">Licenciatura en Administracion de Empresas</h3>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/images/LicTurismo.jpg" alt="Third slide">
              <div class="carousel-caption">
                <h3 style="background:rgba(255,255,255,0.5); color:rgb(0, 0, 0, 1);">Licenciatura en Turismo</h3>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
      </div>

      <div class="log-in">
        {#{% trans_default_domain 'FOSUserBundle' %}

        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}#}

        <form class="log-in-form" {#action="{{ path("fos_user_security_check") }}"#} method="post">
          {#{% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
          {% endif %}#}
          <h4 class="text-center">Iniciar sesion con tu usuario o email:</h4>
          <label for="username">Usuario:</label>
            <input type="text" id="username" name="_username" {#value="{{ last_username }}"#}required="required" autocomplete="username" />
          </label>
          <label for="password">Contraseña:</label>
            <input type="password" id="password" name="_password" required="required" autocomplete="current-password" />
          <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">Recuerdame en esta computadora</label>
          <p><input type="submit" class="button expanded" value="Iniciar sesion"></input></p>
          <p class="text-center"><a href="#">¿Olvidaste tu contraseña?</a></p>
        </form>
      </div>
    </div>
  </div>
  <br>
  <br>
    <hr class="style13">
  <br>
    <div class="container-grilla">
        <div class="grid-1">
            <div class="column">
                <div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
                    <div class="flip-card-inner">
                        <div class="flip-card-inner-front" style="background:url('{{asset('images/LogoBuenosAires.jpg')}}') no-repeat center center">
                            <span>Buenos Aires</span>
                        </div>
                        <div class="flip-card-inner-back">
                            <h3 class="flip-card-inner-back-title">Sede Buenos Aires:</h3>
                            <p class="flip-card-inner-back-text">Estudie en la sede central de Royal Academy y aproveche la oportunidad para mezclarse con las multiples facetas de esta gran ciudad.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid-2">
            <div class="column">
                <div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
                    <div class="flip-card-inner">
                        <div class="flip-card-inner-front two" style="background:url('{{asset('images/LogoMexico.jpg')}}') no-repeat center center">
                            <span>Mexico DF</span>
                        </div>
                        <div class="flip-card-inner-back">
                            <h3 class="flip-card-inner-back-title">Sede Mexico DF:</h3>
                            <p class="flip-card-inner-back-text">Disfrute de la capital mexicana mientras descubre su lado cultural y gastronomico.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid-3">
            <div class="column">
                <div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
                    <div class="flip-card-inner">
                        <div class="flip-card-inner-front three" style="background:url('{{asset('images/LogoToronto.jpg')}}') no-repeat center center">
                        <span>Toronto</span>
                    </div>
                    <div class="flip-card-inner-back">
                        <h3 class="flip-card-inner-back-title">Sede Toronto: </h3>
                        <p class="flip-card-inner-back-text">Estudie mientras descubre esta hermosa ciudad ubicada en la costa de las Cataratas del Niagara.</p>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid-4">
            <div class="column">
                <div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
                    <div class="flip-card-inner">
                        <div class="flip-card-inner-front four" style="background:url('{{asset('images/LogoRoma.jpg')}}') no-repeat center center">
                        <span>Roma</span>
                        </div>
                        <div class="flip-card-inner-back">
                        <h3 class="flip-card-inner-back-title">Sede Roma:</h3>
                        <p class="flip-card-inner-back-text">Recorra la capital del Imperio Romano mientras estudia, y explore como era la vida durante el Imperio.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  {% block javascripts %}
    <script src="{{ asset('js/jquery-slim.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
  {% endblock %}
{% endblock %}

