{% extends 'base.html.twig' %}

{% block body %}
    <div class="estilo-body">
    <h1>Preguntas list</h1>
    <br>
    <table>
        <thead>
            <tr>
                <th>Descripcion</th>
                <th>Idpregunta</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pregunta in preguntas %}
            <tr>
                <td><a href="{{ path('pregunta_show', { 'idpregunta': pregunta.idpregunta }) }}">{{ pregunta.descripcion }}</a></td>
                <td>{{ pregunta.idpregunta }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('pregunta_show', { 'idpregunta': pregunta.idpregunta }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('pregunta_edit', { 'idpregunta': pregunta.idpregunta }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pregunta_new') }}">Create a new pregunta</a>
        </li>
    </ul>
    <div>
{% endblock %}
