{% extends 'base.html.twig' %}

{% block body %}
    <div class="estilo-body">
        <br>
        <h1>Gestor de preguntas</h1>
        <br>
        <div class="container-form">
            {{ form_start(form) }}
                <h3>Pregunta</h3>
                <div class="form-group">
                     <div class="col">
                        {{ form_row(form.descripcion, {'label': 'Descricion:'}) }}
                    </div>
                </div>
                <h3>Respuestas</h3>
                <ul class="respuestas" data-prototype="{{ form_widget(form.respuestas.vars.prototype)|e('html_attr') }}">
                    {# iterate over each existing tag and render its only field: name #}
                    {% for Respuesta in form.respuestas %}
                        <div class="form-row">
                            <li>{{ form_row(Respuesta.descripcion, {'label': 'Respuesta:'}) }}</li>
                            <li>{{ form_row(Respuesta.escorrecta, {'label': 'Correcta:'}) }}</li>
                        </div>
                    {% endfor %}
                </ul>
                    <input type="submit" value="Create" class="btn btn-primary btn-lg"/>
            {{ form_end(form) }}
        </div>
        <ul>
            <li>
                <a href="{{ path('pregunta_index') }}">Back to the list</a>
            </li>
        </ul>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{ asset('js/agregarRespuestas.js') }}" type="text/javascript"></script>
{% endblock %}