{% extends 'base.html.twig' %}

{% block body %}
    <div class="estilo-body">
        <h1>Pregunta</h1>
        <br>
        <table>
            <thead>
                <tr>
                    <th>Descripcion</th>
                    <th>Idpregunta</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ pregunta.descripcion }}</td>
                    <td>{{ pregunta.idpregunta }}</td>
                </tr>
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('pregunta_index') }}">Back to the list</a>
            </li>
            <li>
                <a href="{{ path('pregunta_edit', { 'idpregunta': pregunta.idpregunta }) }}">Edit</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>
{% endblock %}
