{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <h1 align="center">Carreras list</h1>
    <br>
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Idcarrera</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for carrera in carreras %}
            <tr>
                <td scope="row"><a href="{{ path('carrera_show', { 'idcarrera': carrera.idcarrera }) }}">{{ carrera.nombre }}</a></td>
                <td>{{ carrera.idcarrera }}</td>
                <td>
                    <ul>
                        <li>
                            <a class="btn btn-dark btn-sm btn-block" href="{{ path('carrera_show', { 'idcarrera': carrera.idcarrera }) }}">show</a>
                        </li>
                        <li>
                            <a class="btn btn-dark btn-sm btn-block" href="{{ path('carrera_edit', { 'idcarrera': carrera.idcarrera }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <ul align="center">
        <li>
            <a class="btn btn-dark btn-lg" href="{{ path('carrera_new') }}">Create a new carrera</a>
        </li>
    </ul>
{% endblock %}
