{% extends 'base.html.twig' %}

{% block body %}
        <br>
        <h1 align="center">Pais</h1>
        <br>
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Idpais</th>
                </tr>
            </thead>
                <tr>
                    <td scope="row">{{ pais.nombre }}</td>
                    <td>{{ pais.idpais }}</td>
                </tr>
            
        </table>
        <br>
        <div align="center">
            <ul class="btn-group" role="group">
                <li>
                    <a class="btn btn-dark" href="{{ path('pais_edit', { 'idpais': pais.idpais }) }}">Edit</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                        <input class="btn btn-dark" type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </li>
                <li>
                    <a class="btn btn-dark" href="{{ path('pais_index') }}">Back to the list</a>
                </li>
                
            </ul>
        </div>
{% endblock %}
